/*
    Bongo web administration interface stylesheet
    * 
    =======[ Global Styles ]=======
*/

body {
    background-color: #eeeeec;
    font-size: 16px;
    font-family: 'Cantarell', sans-serif;
    color: #eeeeec;
    padding: 0px;
    margin: 0px;
}

/*
    =======[ Login Styles ]=======
*/

.logo {
	background:url('/images/Bongo-logo.png') no-repeat;
	width:400px;
	height:50px;
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
}

#login-pane { 	
    font-size: 110%;
    position:absolute;
    height:300px; 
    width:400px;
    margin:-150px 0px 0px -200px;
    top: 50%; 
    left: 50%;
    text-align: left;    
    padding: 0px;
    background-image: url('/images/login-pane.png');
    /*background-repeat: no-repeat; /* Make sure this doesn't actually happen. */
    overflow: none;
}

#login-form {
    padding: 16px;
    padding-top: 6.5em;
    font-size: 110%;
    text-align: center;
}

#login-form table {
    width: 100%;
    -moz-box-sizing: border-box;
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0;
}

#login-user {
    background-repeat: no-repeat;
    min-height: 18px;
    padding-left: 22px;
    background-image: url("/images/user.png");
    margin-bottom: 2px;
    width: 178px;
    padding-left: 22px;
    min-height: 18px;
    background-repeat: no-repeat;
}

#login-password {
    background-repeat: no-repeat;
    min-height: 18px;
    padding-left: 22px;
    background-image: url("/images/locked.png");
    margin-bottom: 2px;
    width: 178px;
    padding-left: 22px;
    min-height: 18px;
    background-repeat: no-repeat;
}

#login-form table .button {
    background: transparent url('/images/bg-button-a.png') no-repeat scroll top right;
    color: #444;
    display: block;
    float: right;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

#login-form table .span {
    background: transparent url('/images/bg-button-span.png') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
} 

#login-form table .button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

#login-form table .button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
} 

#admin-tabs table {
    border-collapse: collapse;
    margin: 20px;
    text-align: left;
    border: 1px solid #000;
}

#admin-tabs th {
    background: none repeat scroll 0 0 #B9C9FE;
    color: #003399;
    font-weight: normal;
    padding: 8px;
}

#admin-tabs td {
    background: none repeat scroll 0 0 #E8EDFF;
    border-top: 1px solid #000;
    color: #666699;
    padding: 8px;
}

#admin-tabs button {
    background-image: transparent url('/images/bg-button-a.png') no-repeat scroll top right;
    color: #444;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

#admin-tabs span {
    background-image: transparent url('/images/bg-button-span.png') no-repeat;
    line-height: 14px;
    padding: 5px 0 5px 18px;
} 

.tabs-accounts {
	background: url('/images/system-users.png') no-repeat;
	width: 30px;
	height:30px;
}

.tabs-domains {
	background: url('/images/agent-global.png') no-repeat;
	width: 30px;
	height:30px;
}

.tabs-agents {
	background: url('/images/agent-control.png') no-repeat;
	width: 30px;
	height:30px;
}

.tabs-anti {
	background: url('/images/agent-bongoavirus.png') no-repeat;
	width: 30px;
	height:30px;
}

.tabs-access {
	background: url('/images/agent-bongoimap.png') no-repeat;
	width: 30px;
	height:30px;
}

.tabs-smtp {
	background: url('/images/agent-bongosmtp.png') no-repeat;
	width: 30px;
	height:30px;
}

.tabs-queue {
	background: url('/images/agent-bongomailprox.png') no-repeat;
	width: 30px;
	height:30px;
}

#admin-header-buttons button {
    background-image: transparent url("/images/bg-button-a.png") no-repeat scroll top right;
    color: #444;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

#admin-header-buttons span {
    background-image: transparent url("/images/bg-button-span.png") no-repeat;
    line-height: 14px;
    padding: 5px 0 5px 18px;
} 
